.row {
  display: flex;
  flex-direction: row;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media only screen and (max-width: 1030px) {
    .sm-10 {
      width: 100% !important;
    }
  }

  .md-3 {
    width: 30%;
  }

  .md-4 {
    width: 40%;
  }

  .md-5 {
    width: 50%;
  }

  .md-6 {
    width: 60%;
  }

  .md-7 {
    width: 70%;
  }

}
